@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Louisiana State Government<br />
    Office of Technology Services <br/>
    Baton Rouge, LA 70802<br />
    <abbr title="Phone">P:</abbr>
    123.4567.8910
</address>

<address>
    <strong>Support:</strong> <a href="mailto:data@la.gov">data@la.gov</a><br />
    <strong>Marketing:</strong> <a href="mailto:data@la.gov">data@la.gov</a>
</address>
